body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	border-top:1em solid pink;
}

a {
	color: #06f;
}

h2, h3, h4 {
	margin-top: 0;
}
h3, h4 {
	margin-bottom: 0.5em;
}

p, ul {
	line-height:1.25;
}

.container {
	margin: 0 auto;
	max-width: 90em;
	padding: 1em 0;
}

.smile {
	font-weight: bold;
	font-size: 1em;
	margin-top:5em;
}

.button {
	text-decoration:none;
	font-weight:bold;
	font-size:1.2em;
	padding:0.5em 1.2em;
	line-height:1.2;
	color:#fff;
	border:1px solid #3F8ACF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	text-shadow: 0px -1px 0px #523300;
	-webkit-box-shadow: 0px 0px 1px 1px #e0e0e0;
	box-shadow: 0px 0px 1px 1px #e0e0e0;
	background-color: #3F8ACF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3F8ACF), to(#104269));
	background-image: -webkit-linear-gradient(top, #3F8ACF, #104269);
	background-image: -moz-linear-gradient(top, #3F8ACF, #104269);
	background-image: -o-linear-gradient(top, #3F8ACF, #104269);
	background-image: linear-gradient(to bottom, #3F8ACF, #104269);
}

.button:hover {
	background-color: #104269;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#104269), to(#3F8ACF));
	background-image: -webkit-linear-gradient(top, #104269, #3F8ACF);
	background-image: -moz-linear-gradient(top, #104269, #3F8ACF);
	background-image: -o-linear-gradient(top, #104269, #3F8ACF);
	background-image: linear-gradient(to bottom, #104269, #3F8ACF);
}

/* you only need width to set up columns; all columns are 100%-width by default, so we start
   from a one-column mobile layout and gradually improve it according to available screen space */

@media only screen and (min-width: 34em) {
	.feature:first-child,
	.info:first-child {
		border-right: 1px dotted #aaa;
	}
	.container {
		padding:1em;
	}	
	.feature, .info {
		width: 50%;
	}
}

@media only screen and (min-width: 54em) {
	.content {
		width: 66.66%;
		border: none;
		border-right: 1px dotted #aaa;
		margin-bottom: 0;
	}
	.info:first-child {
		border: none;
	}	
	.sidebar {
		width: 33.33%;
	}
	.info {
		width: 100%;
	}
}

@media only screen and (min-width: 76em) {
	.info:first-child {
		border-right: 1px dotted #aaa;
	}
	.content {
		width: 58.33%;
	} /* 7/12 */
	.sidebar {
		width: 41.66%;
	} /* 5/12 */
	.info {
		width: 50%;
	}
}